.top
  .top__header
    %h1.top__header--title
      Kakeiko
    -if user_signed_in?
      = link_to  destroy_user_session_path, method: :delete do
        logout
  .top__main
    .top__main--left
      %h2.top__main--left--title
        項目設定
        .item
          .item__income
            = link_to incomes_path, method: :get, class:"item__income--link" do
              income
          .item__fixedcost
            = link_to fixedcosts_path, method: :get, class:"item__fixedcost--link" do
              fixedcost
          .item__variable
            = link_to variables_path, method: :get, class:"item__variable--link" do
              variablecost
    .top__main--right
      %h2.top__main--right--title
