.variable-edit
  %h2.variable-edit__title
    変動費項目登録
  .variable-edit__content
  = form_for @variable do |f|
    = link_to variables_path, method: :get do
      変動費一覧へ
    = render "incomes/form" ,f: f
    = f.submit "edit"